@import 'reset.css';

html,body {
    height: 100%;
    background-color: #FFF;
    color: #1A1A1A;
}
a {
    color: #6088D9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

