@import "../common/var.css";
@import "../mixins/button.css";

@c button {
    @mixin button-default;

    @m default {
        @mixin button-color var(--color-black), var(--color-white), var(--color-base-gray);
        &:hover, &:focus {
            @mixin button-color var(--color-black), var(--color-light-default), var(--color-base-gray);
        }
        &:active {
            @mixin button-color var(--color-black), var(--color-white), var(--color-base-gray);
        }
    }

    @m info {
        @mixin button-color var(--color-white), var(--color-info), var(--color-info);
        &:hover, &:focus {
            @mixin button-color var(--color-white), var(--color-light-info), var(--color-light-info);
        }
        &:active {
            @mixin button-color var(--color-white), var(--color-info), var(--color-info);
        }
    }

    @m primary {
        @mixin button-color var(--color-white), var(--color-dark-primary), var(--color-dark-primary);
        &:hover, &:focus {
            @mixin button-color var(--color-white), var(--color-primary), var(--color-primary);
        }
        &:active {
            @mixin button-color var(--color-white), var(--color-dark-primary), var(--color-dark-primary);
        }
    }

    @m success {
        @mixin button-color var(--color-white), var(--color-success), var(--color-success);
        &:hover, &:focus {
            @mixin button-color var(--color-white), var(--color-light-success), var(--color-light-success);
        }
        &:active {
            @mixin button-color var(--color-white), var(--color-success), var(--color-success);
        }
    }

    @m warning {
        @mixin button-color var(--color-white), var(--color-warning), var(--color-warning);
        &:hover, &:focus {
            @mixin button-color var(--color-white), var(--color-light-warning), var(--color-light-warning);
        }
        &:active {
            @mixin button-color var(--color-white), var(--color-warning), var(--color-warning);
        }
    }

    @m danger {
        @mixin button-color var(--color-white), var(--color-danger), var(--color-danger);
        &:hover, &:focus {
            @mixin button-color var(--color-white), var(--color-light-danger), var(--color-light-danger);
        }
        &:active {
            @mixin button-color var(--color-white), var(--color-danger), var(--color-danger);
        }
    }

    @m lg {
        font-size: var(--button-large-font-size);
        border-radius: var(--button-large-border-radius);
        height: var(--button-large-height);
        line-height: var(--button-large-line-height);
    }

    @m md {
        font-size: var(--button-medium-font-size);
        border-radius: var(--button-medium-border-radius);
        height: var(--button-medium-height);
        line-height: var(--button-medium-line-height);
    }

    @m sm {
        font-size: var(--button-small-font-size);
        border-radius: var(--button-small-border-radius);
        height: var(--button-small-height);
        line-height: var(--button-small-line-height);
    }

    /* 鼠标 hover 还有问题 */
    @m disabled {
        &,
        &:hover,
        &:focus {
            color: var(--button-disabled-color);
            cursor: not-allowed;
            background-image: none;
            border-color: var(--button-disabled-border-color);
            opacity: .7;
         }
    }
}
