@define-mixin button-default {
    display: inline-block;
    width: 100%;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    border: var(--border-width-base) var(--border-style-base) var(--border-color-base);
    border-radius: var(--border-radius-base);
    cursor: pointer;
    outline: none;
}

@define-mixin button-color $color, $background, $border {
    color: $color;
    background-color: $background;
    border-color: $border;
}


