@define-mixin button-default {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: var(--border-width-base) var(--border-style-base) var(--border-color-base);
    border-radius: var(--border-radius-base);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

@define-mixin button-color $color, $background, $border {
    color: $color;
    background-color: $background;
    border-color: $border;
}


