@import '../src/style/common/var.css';

.doc__head{
    width: 1140px;
    height: 80px;
    line-height: 80px;
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .06);
    box-sizing: border-box;
    margin: 0px auto;

    h1{
        margin-left: 0px;
        width: 20%;
        height: 100%;
        position: relative;

        img{
            width: 100px;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translate(0,-35%);
        }
        span{
            margin-left: 60px;
            font-size: 25px;
        }
    }
    li.router-link-active{
        color: var(--color-dark-primary);
        border-bottom: 2px solid var(--color-dark-primary);
    }

    ul{
        float: right;
        color: #333333;
        font-size: 18px;
    }
    .docs-link{
        height: 80px;
        padding: 0px 20px;
        cursor: pointer;
        float: left;
        color: var(--color-primary);
        box-sizing: border-box;

        &:hover{
            color: var(--color-dark-primary);
        }
    }

    p{
        float: right;
        margin-left: 30px;
        color: var(--color-dark-primary);
    }
}

.doc__body{
    margin: 30px auto;
    width: 1140px;
    box-sizing: border-box;
}

.doc__footer{
    background-color: #FFFFFF;
    display: table;
    width: 1140px;
    margin: 0px auto;
    font-size: 14px;

    a{
        text-decoration: none;
        color: var(--color-dark-primary);
    }

    > ul > li{
        float: left;
        padding: 30px 0px;
        margin-left: 20px;
    }

    .footer__copyright{
        float: right;
        img {
            width: 70px;
            height: 70px;
            margin: 20px 0px 0px 20px;
        }
    }

    h1{
        font-weight: 500;
        font-size: 20px;
    }

    .footer__infos{
        display: flex;
        padding-top: 10px;

        > div {
            width: 350px;
        }

        p{
            color: var(--color-dark-primary);
        }

        > ul > li {
            margin: 10px 0px;
        }
    }

}
