:root {
    /* Transition
    -------------------------- */
    --all-transition: all .3s cubic-bezier(.645,.045,.355,1);
    --fade-linear-transition: opacity 200ms linear;
    --md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    --border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
    --color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);
    --background-color-transition-base: background-color .2s cubic-bezier(.645,.045,.355,1);

    /* Colors
    -------------------------- */
    --color-primary: #7FCFFB;
    --color-dark-primary: #559CE0;

    --color-success: #00DC5D;
    --color-warning: #EE9000;
    --color-info: #90969c;
    --color-danger: #EC1101;

    --color-light-default: #F9F9F9;
    --color-light-success: #76DC88;
    --color-light-warning: #EECB09;
    --color-light-info: #C0C4CC;
    --color-light-danger: #EC929B;

    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-base-gray: #BFBFBF;
    --color-light-gray: #D9D9D9;
    --color-extra-light-gray: #F9F9F9;
    --color-base-black: #777777;

    --color-text-primary: #2d2f33;
    --color-text-regular: #5a5e66;
    --color-text-secondary: #878d99;
    --color-text-placeholder: #b4bccc;

    --border-color-base: #d8dce5;
    --border-color-light: #dfe4ed;
    --border-color-lighter: #e6ebf5;
    --border-color-extra-light: #edf2fc;

    /* Font
    -------------------------- */
    --font-size-base: 14px;

    /* Border
    -------------------------- */
    --border-width-base: 1px;
    --border-style-base: solid;
    --border-color-base: var(--color-base-gray);
    --border-color-hover: var(--color-dark-primary);
    --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);
    --border-radius-base: 4px;
    --border-radius-small: 2px;
    --border-radius-circle: 100%;

    /* typography
    -------------------------- */
    --line-height-base: 1.42858;

    /* alert
    -------------------------- */
    --alert-padding: 8px 16px;
    --alert-border-radius: var(--border-radius-base);
    --alert-title-font-size: 13px;
    --alert-info-color:#F4F4F5;
    --alert-success-color:#F0F9EB;
    --alert-warning-color:#FDF6EC;
    --alert-danger-color:#FEF0F0;
}
